asgiref==3.2.3
automium==0.2.6
automium-web==0.1.1
Click==7.0
Django==3.0.2
django-adminlte-3==0.1.2
django-crispy-forms==1.8.1
django-static-adminlte==2.4.3.2
fanstatic==1.1
Flask==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
js.adminlte==2.4.9
js.bootstrap==3.3.4
js.jquery==3.3.1
legacy==0.1.6
MarkupSafe==1.1.1
Pillow==9.3.0
pytz==2019.3
shutilwhich==1.1.0
sqlparse==0.3.0
WebOb==1.8.6
Werkzeug==0.16.0
