{% extends "base.html" %}

{% block content %}
  
{% comment  %}
<div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Add New Personnel </h3>
    </div>
    <div class="box-body">
      <input class="form-control input-lg" type="text" placeholder="Nom" {{form.first_name}} 
      <br>
      <input class="form-control input-lg" type="text" placeholder="Prénom"{{form.last_name}} 
      <br>
    
      <input class="form-control input-lg" type="text" pattern = "[0-9]{6}+-[0-9]{2}+-[0-9]{2}+-[0-9]{2}" placeholder=".input-lg"{{form.mle}}
      <input class="form-control input-lg" type="text" placeholder=".input-lg"{{form.grade}}
      
      <span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1">
        <ul class="select2-selection__rendered">
          <li class="select2-search select2-search--inline">
        <input class="select2-search__field" type="search" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Select a State" style="width: 514.5px;"{{form.grade}}
      </li>
    </ul>
    </span>
      <br>
     
      <br>
      <input class="form-control input-lg" type="text" placeholder=".input-lg"{{form.tel}}
      
    </div>
    <!-- /.box-body -->
  </div>

  
{% endcomment %}


<div class="col-md-6">

          <div class="box box-danger">
            <div class="box-header">
              <h3 class="box-title">Add Pers</h3>
            </div>
             
            <div class="box-body">
                 

              <form method= "POST">

                {% csrf_token %}

                <div class="form-group">
                  <label>Nom</label>
                  <input type="text" class="form-control" placeholder="Enter ..." {{form.first_name}}
                </div>
                <div class="form-group">
                  <label>Prénom</label>
                  <input type="text" class="form-control" placeholder="Enter ..."{{form.last_name}}
                </div>
                 
               <div class="form-group">
                <label>Grade</label>
                <select class="form-control select2" style="width: 100%;">
                {% for choice  in form.grade %}
                  <option selected="selected"></option>
                  
                  <option> {{choice}} </option>
                 
                  {% endfor %}
                  
                </select>
              </div>
              <!-- phone mask -->
              <div class="form-group">
                <label>MLE:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-barcode"></i>
                  </div>
                  <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;999999-99-99-99&quot;" data-mask=""{{form.mle}}
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->

              <!-- IP mask -->
              <div class="form-group">
                <label>N° Tel:</label>

                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </div>
                  <input type="text" class="form-control" data-inputmask="&quot;mask&quot;: &quot;9999999999&quot;" data-mask="" {{form.tel}}
                </div>
                <!-- /.input group -->
              </div>
              <!-- /.form group -->
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
             </form>
            </div>
            <!-- /.box-body -->
            
          </div>
          <!-- /.box -->


        </div>

{% endblock content %}