{% extends  'base.html' %}
  {% load static %}
{% block content %}

<section class="content-header">
  <h1>
    Calendar
    <small>Control panel</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{% url 'home' %}"><i class="fa fa-dashboard"></i> Home</a></li>
>
  </ol>
</section

<section class="content">
  <div class="row-body">
    <!-- /.col -->

      <div class="box box-primary">
        <div class="box-body no-padding">
          <!-- THE CALENDAR -->
          <div id="calendar"></div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->

  <!-- /.row -->
</section>



{% endblock content %}
